body {
  color: #4e125e;
}

.main {
  background-color: #edebee;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.title {
  font-family: "Gabriela", serif;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1rem;
  background-image: linear-gradient(45deg, #4a1164, #6b3e79);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: 1rem 1rem 1.5rem #c7a3cf;
  animation: 1.56s linear infinite maintitle;
}

/*HEADER*/
.header__hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../img/hero1.jpg") 0 bottom/cover no-repeat;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header__hero-title {
  margin-top: 10%;
  font-family: "Gabriela", serif;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #ffffff;
}
.header__hero-title span:last-child {
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: 600;
}
.header__arrow-down {
  position: absolute;
  bottom: 7rem;
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
  font-size: 2.4rem;
}
.header__arrow-down i {
  position: absolute;
  bottom: 2.5rem;
  animation: 1.56s linear infinite jumping;
}
.header__menu {
  padding: 2rem 0;
  background-color: #ebd2f1;
}
.header__menu-list {
  display: flex;
  justify-content: flex-end;
}
.header__menu-item {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.header__menu-item i {
  margin-right: 0.7rem;
  font-size: 2rem;
  color: #19081d;
}
.header__menu-item:hover {
  box-shadow: 0 0 1rem #19081d;
}
.header__menu-item:not(:last-child) {
  margin-right: 3rem;
}
.header__menu-link {
  display: block;
  font-size: 2rem;
  color: #19081d;
  transition: all 0.5s ease;
}

@keyframes jumping {
  0% {
    transform: translateY(0.5rem);
    opacity: 1;
  }
  100% {
    transform: translateY(2.5rem);
    opacity: 0.1;
  }
}
/*MAIN*/
/*about-me*/
.aboutme {
  padding: 7rem 0;
  display: flex;
}
.aboutme__item {
  flex: 0 1 49%;
}
.aboutme__item img {
  width: 90%;
  border-radius: 50%;
  animation: 2s linear infinite myborder;
}
.aboutme__item:first-child {
  margin-right: 2%;
}
.aboutme__item:last-child {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.aboutme__item:last-child p:not(:last-child) {
  margin-bottom: 1rem;
}

/*skills*/
.skills {
  padding: 7rem 0;
}
.skills__title {
  margin-bottom: 7rem;
}
.skills__parts {
  display: flex;
  justify-content: space-between;
}
.skills__part {
  flex: 0 1 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__part:last-child {
  margin-left: 2rem;
  padding: 4rem;
  overflow: hidden;
}
.skills__part:last-child img {
  width: 90%;
  border-radius: 50%;
  animation: 2s linear infinite myborder;
}
.skills__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 20rem));
  justify-content: space-between;
  justify-items: center;
  row-gap: 4rem;
}
.skills__item {
  width: 10rem;
  transition: all 0.5s ease;
}
.skills__item img {
  width: 100%;
}
.skills__item:hover {
  transform: scale(1.2);
}

/*portfolio*/
.portfolio {
  padding: 7rem 0;
}
.portfolio__title {
  margin-bottom: 4rem;
  font-size: 7rem;
  letter-spacing: 1rem;
  background-image: linear-gradient(45deg, #4a1164, #6b3e79);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: 1rem 1rem 1.5rem #c7a3cf;
  animation: 1.56s linear infinite maintitle;
}
.portfolio__subtitle {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.portfolio__items {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.portfolio__item {
  position: relative;
}

.item-portfolio {
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.5s ease;
}
.item-portfolio img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-portfolio:hover {
  box-shadow: 0 0 1rem #4e125e;
}
.item-portfolio:hover img {
  opacity: 0.4;
}
.item-portfolio:hover .item-portfolio__info {
  box-shadow: 0 0 1rem #4e125e;
  transform: rotateX("180deg");
  opacity: 1;
}
.item-portfolio__info {
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 80%;
  height: 50%;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(206, 175, 216, 0.2);
  -webkit-backdrop-filter: blur(7rem);
          backdrop-filter: blur(7rem);
}
.item-portfolio__info-title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.item-portfolio p {
  font-size: 2rem;
}

@keyframes myborder {
  0% {
    box-shadow: 0 0 1rem #4e125e;
    opacity: 0.8;
  }
  50% {
    box-shadow: 0 0 4rem #503058;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 1rem #4e125e;
    opacity: 0.8;
  }
}
@keyframes maintitle {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}